<div class="about-us">
  <h2>À propos de nous</h2>
  <img src="assets/6.jpg" alt="Image de l'équipe" class="about-us-image" />
  <p>
    Nous sommes une équipe passionnée de sport qui a pour mission de fournir les
    meilleurs produits de sport à nos clients. Nous avons commencé en tant que
    petite entreprise familiale et nous sommes maintenant fiers de servir des
    clients du monde entier.
  </p>
  <p>
    Notre équipe est composée d'athlètes passionnés et de professionnels du
    sport qui connaissent parfaitement les produits que nous vendons. Nous
    travaillons dur pour offrir une expérience de magasinage exceptionnelle à
    nos clients, avec des produits de haute qualité, un service clientèle
    exceptionnel et des livraisons rapides.
  </p>
</div>
