<app-menu></app-menu>
<h1
  style="
    color: rgb(0, 242, 255);
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  "
>
  IMC
</h1>

<p style="text-align: center">
  LINDICE DE MASSE CORPORELLE (IMC) PERM ET D'EVALUER RAPIDEMENT VOTRE
  CORPULENCE SIMPLEMENT AVEC VOTRE<br />
  PONDS ET VOTRE TAILLE. QUEL QUE SOIT VOTRE SEXE. CALCULEZ RAPIDEMENT VOTRE IMC
  ET DÉCOUVREZ<br />
  DANS QUELLE CATÉGORIE VOUS VOUS SITUEZ<br /><br />

  L'INDICE DE MASSE CORPORELLE (IMCI EST LE SEUL INDICE VALIDE PAR
  L'ORGANISATION MONDIALE DE LA SANTE POUR<br />
  EVALUER LA CORPULENCE DUN INDIVIDU ET DOC LES EVENTUELS RISOUES POUR LA SANTE
  L'IMC PERMET DE DÉTERMINER<br />
  SI LION EST SITUATION DE MAIGREUR, DE SURPOIOS OU DOBÉSITÉ PAR EXEMPLE.
</p>
<h2
  style="
    color: rgb(0, 242, 255);
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  "
>
  COMMENT CALCULER MON IMC?_________
</h2>
<br />
<br /><br />
<div style="display: flex; margin-left: 400px">
  <div>
    <p style="text-align: center">
      Il se calcule simplement en divisant le poids (en kg) par le carré<br />
      de la taille (m). Un IMC normal se situe entre 18,5 et 25. Pour
      <br />connaître votre IMC, pas besoin de sortir votre calculette, il
      vous<br />
      suffit de compléter les champs ci-dessous.
    </p>
    <form [formGroup]="imcForm" style="width: 600px; height: 300px" id="formIMC">
      <div class="form-group">
        <label for="taille">Indiquez votre taille en cm</label>
        <input type="text" class="form-control" id="taille" placeholder="Entrez votre taille en cm" formControlName="taille" />
        <div *ngIf="isValidtaille()" class="alert alert-danger">
          {{ tailleErrorMessage }}
        </div>
      </div>
      
      <div class="form-group">
        <label for="poids">Indiquez votre poids en kg</label>
        <input type="text" class="form-control" id="poids" placeholder="Entrez votre poids en kg" formControlName="poids" />
        <div *ngIf="isValidpoids()" class="alert alert-danger">
          {{ poidsErrorMessage }}
        </div>
      </div>
      <br>
      <button type="submit" class="btn btn-primary" [disabled]="imcForm.invalid" (click)="calculerIMC()" style="margin-left: 150px;">Calculer</button>
    </form>
    
    
  </div>
  <div><img src="assets/calc.PNG" alt="" /></div>
</div>
<div>
  <div style="display: flex; margin-left: 200px">
    <div>
      <p
        style="
          text-align: right;
          font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
          font-size: 25px;
          color: aqua;
          margin-right: 20px;
        "
      >
        Indice de masse corporelle (IMC) <br />
        moins de 18,5<br />
        18,5 à 25<br />
        25 à 30 <br />30 à 35 <br />
        35 à 40 <br />
        plus de 40 <br />
      </p>
    </div>
    <div>
      <p>
        <strong> Interprétation (d'après l'OMS)</strong>
        <br />
        Insuffisance pondérale (maigreur)<br />
        Corpulence normale<br />
        Surpoids<br />
        Obésité modérée<br />
        Obésité sévère<br />
        Obésité morbide ou massive<br />
      </p>
    </div>
    <div style="margin-left: 50px">
      <img src="assets/calculIMC.gif" alt="" />
    </div>
  </div>
</div>
<br />
<br />
<div>
  <strong style="font-size: 20px; margin-left: 20px"
    >Repartition de L'IMC en %</strong
  ><br />
  <img src="assets/diagramme.png" alt="" />
</div>


<app-footer></app-footer>