<ul class="nav nav-tabs">
    <li class="nav-item">
    <a class="nav-link" routerLink="/materiels" >Liste des materiels</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/" >Ajouter un materiel</a>
      </li>
    <li class="nav-item">
    <a class="nav-link" routerLink="/" >Liste des foods</a>
    </li>
    
    <li class="nav-item">
      <a class="nav-link" routerLink="/" >Ajouter Food</a>
      </li>
 
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

 
      <li>
        <a class="nav-link" routerLink="/loginadmin" style="color: black;font-weight: bolder;">Log out <i class="fa-solid fa-right-from-bracket"></i></a>

      </li>

   </ul>
   



   