
<div class="container" style="background: url(/../../../../../../../../assets/Images/OIP.jfif)">
  <div class="navigation" id="#nav">
    <ul>
      <li>
        <a href="#">
          <span class="icon"><i class="fa-solid fa-folder-gear"></i></span>
          <span class="title">Administrateur </span>
        </a>
      </li>
      <li>
        <a routerLink="../dash">
          <span class="icon"><i class="fa fa-dashboard"></i></span>
          <span class="title"> Tableau de bord </span>
        </a>
      </li>
      <li>
        <a routerLink="account">
          <span class="icon"><i class="fa fa-home"></i></span>
          <span class="title"> Compte Admin</span>
        </a>
      </li>
      <li>
        <a routerLink="listeproduits">
          <span class="icon"><i class="fa fa-shopping-bag"></i></span>
          <span class="title">Liste des Produits</span>
        </a>
      </li>
      <li>
        <a routerLink="Ajouter">
          <span class="icon"><i class="fa fa-shopping-bag"></i></span>
          <span class="title">Ajouter Matériel</span>
        </a>
      </li>
      <li>
        <a routerLink="Ajouter2">
          <span class="icon"><i class="fa fa-shopping-bag"></i></span>
          <span class="title">Ajouter Aliment</span>
        </a>
      </li>
      <li>
        <a role="button" (click)="disconnect()">
          <span class="icon"><i class="fa fa-sign-out"></i></span>
          <span class="title">Déconnecter</span>
        </a>
      </li>
    </ul>
  </div>
</div>

  
