<div class="container" style="margin-top: 120px;" style="background-image:'/assets/login1.jpg';">
    <div class="contact-box">
        <div class="left">
            <img src="assets/login1.jpg" alt="">
        </div>
        <div class="right">
        <h2>Login</h2>
        <form [formGroup]="loginForm"  (ngSubmit)="onSubmit()">
            <div *ngIf="message">
                {{message}}
            </div>
            <div class="login">
            <input type="text" formControlName="username" placeholder="username"> <br>
            <input type="password" formControlName="password" placeholder="password"><br>
            <br>
            <input type="button" value="Login" class="btn" (click)="onSubmit()">
        
            </div>
        </form>
    </div>
        </div>
        </div>
        
